body{
    background-color: black;
}

.card{
    width: 400px;
    height: 225px;
    box-sizing: border-box;
    padding: 1px 20px;
    background: url('../image/background.png') no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 10%;
}
h1{
    text-shadow: 2px 2px 8px black;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.github{
    list-style-image: url(../image/github.png);
}

.linkedin{
    list-style-image: url(../image/linkedin.png);
}

.instagram{
    list-style-image: url(../image/Insta.png);
}

.twitter{
    list-style-image: url(../image/Twitter.png);
}